<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="row wrapper border-bottom white-bg page-heading" style="margin-bottom: 10px;">
                <div class="col-lg-10">
                    <h2>
                        Question Update
                    </h2>
                </div>
                <div class="col-lg-2">

                </div>
            </div>
            <!--<div ng-include="'../../basic_templates/questions_form.html'"></div>-->
            <form name="questionCreation"  novalidate>
                <div class="form-group" ng-class="{ 'has-error' : questionCreation.questionText.$invalid && submitted }">
                    Question Text<input type="text" name="questionText" ng-model="question.text" class="form-control" required ng-minlength="3" ng-maxlength="50">
                    <p ng-show="questionCreation.questionText.$invalid && submitted" class="help-block">Text Length should be in Range 3 and 50</p>
                </div>
                <label>Choices</label>
                <div class="form-group" ng-repeat="choice in question.choices track by $index">
                    <div ng-class="{ 'has-error' : questionCreation.text{{$index}}.$invalid && submitted }">
                        Choice Text <input type="text" class="form-control" style="display:table-row" name="text{{$index}}" ng-model="choice.text" required>
                        <p ng-show="questionCreation.text{{$index}}.$invalid && submitted" class="help-block">Text should not be blank.</p>
                        <a href="" class="remove-choice" ng-click="removeChoice(choice)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </div>
                </div>
                <button type="submit" class="btn btn-xs btn-success " ng-click="addChoice()">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>

                <div class="form-group" style="margin-top:10px">
                    <input type="submit" class="btn btn-primary " ng-click="save(question, questionCreation.$valid)" value="Save" />
                </div>
            </form>
        </div>
    </div>
</div>

<!--ALERTS-->

<div class="alert alert-danger" id="choiceRemovedMessage" style="position:fixed; top:70px; left:30%; width:40%; display:none; z-index:999;">
    <strong>Choice and Answers on that Choice have been removed!</strong>
</div>