body {
    background-image: url('../background.jpg');
    background-size: cover;
    background-attachment: fixed;
}

/*input[type=text]{*/
    /*background: rgba(0,0,0,0.9);*/
/*}*/

input[type=email]{
    opacity:0.8;
    background: lightgrey;
}

input[type=text]{
    opacity:0.8;
    background: lightgrey;
}

input[type=password]{
    opacity:0.8;
    background: lightgrey;
}

.logo {
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    margin-top: 16px;
}

.menu {
    margin-right: 30px;
    margin-left: 30px;
    color: white;
    margin-top: 20px;
    background: rgba(0,0,0,0.3);
    border-radius: 5px;
}

.a {
    text-decoration: none;
    cursor: pointer;
}

a{
    color: #ffffff;
}

a:hover{
    text-decoration: none;
    color: rgba(0,0,0,0.9);
}

.table-size{
    width: 80%;
    margin-bottom: 50px;
}

.button{
    background: rgba(0,0,0,0.7);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 5px;
    border: 2px;
    border-color: #080808;
}

.button:hover{
    color: #ffffff;
    background: rgba(0,0,0,0.9);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 5px;
    border: 2px;
    border-color: #000000;
}

.button:focus{
    border: 2px;
    border-color: #000000;
}

.home {
    background: rgba(0,0,0,0.5);
}

.go {
    background: rgba(0,0,0,0.1);
    border-radius: 5px;
}

.info {
    margin-right: 30px;
    margin-left: 30px;
    color: white;
    margin-top: 20px;
    background: rgba(0,0,0,0.4);
}
