
<div>
    <table style="margin:auto; margin-bottom: 40px; text-align:center">
        <tr>
            <td style="font-size:26px; padding-top:70px; ">
                welcome to
            </td>
        </tr>
        <tr>
            <td style="font-size:46px;padding-top:10px">
                AMP
            </td>
        </tr>
        <tr>
            <td style="padding-top:30px">
                <form name="form"  novalidate>
                    <input type="text" name="id" style="height: 26px" ng-model="id" required id="in">
                    <button ng-click="go(id, form.$valid)" class="button">
                        GO
                    </button>
                    <p style="font-size:14px;color:#FF9CA7" ng-show="form.id.$invalid && submitted">should be not black</p>
                </form>
            </td>
        </tr>
        <tr>
            <td>
                or <a href="/#/signin" style="color:#080808">sign in</a>
            </td>
        </tr>
    </table>
</div>




