body{
    margin: auto;
    text-align: center;
}

.retreat{
    margin-left: 30px;
    margin-right: 30px;
}

.action_button{
    border: 1px solid rgba(0,0,0,0.7);
    border-radius: 5px;
    color: #ffffff;
    background: rgba(0,0,0,0.7);
    width: 100px;
    height: 25px;
}

.action_button:hover{
    border: 1px solid rgba(0,0,0,0.7);
    border-radius: 5px;
    color: #ffffff;
    background: rgba(0,0,0,1);
    width: 100px;
    height: 25px;
}

.thead_style{
    background: rgba(0,0,0,0.7);
}
.tbody_style{
    background: rgba(0,0,0,0.4);
}