<style>
    #stats{
        opacity:0.85;
    }
</style>
<div id="stats" class="container">
    <div class="col-lg-12 ">
        <!--<div><h3>{{question.text}}</h3></div>-->
        <!--<table class="table table-striped custab " style="min-width:400px;">-->
            <!--<tr ng-repeat="choice in statistic">-->
                <!--<td>{{ choice.choice_text }}</td>-->
                <!--<td>{{ choice.count}} votes</td>-->
            <!--</tr>-->
        <!--</table>-->
        <!--<button ng-click="showStats()">-->
            <!--Show-->
        <!--</button>-->
        <div id="chartContainer" style="height: 300px; width: 100%; margin-top:100px;">
        </div>
    </div>
</div>
